@font-face {
  font-family: myFont;
  src: url(Ballmain.otf);
}

body {
	width: 90vw;
	background: #8FBC8B;
	margin: 0 auto 2em;
	font: 100% Georgia, "Times New Roman", Times, serif;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
	
header h1 {
	font-size: 12vh;
	font-color: #f8f8ff;
	font-family: myFont;
}

.headtwo {
	color: #f8f8ff;
	font-size: 10vh;
	text-align: center;
	font-family: myFont;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  border: double;
  border-weight: 15px;
  border-color: f8f8ff;
}

.content img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.banner {
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border: double;
	border-weight: 15px;
	border-color: f8f8ff;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
	padding: 1em;
	color: f8f8ff;
}

html {
	background: rgb(123, 121, 145);
}

p {
	font: Georgia;
	font-size: 4vh;
	display: flex;
	color: f8f8ff;
	text-align: center;
}

section {
	padding-top: 1em;
	border-bottom-style: dotted;
	border-color: f8f8ff; 
}

ul {
	list-style-type: none;
	margin: 1em;
	padding: 1em;
	font: Georgia;
	font-size: 2em;
	font-style: italics;
	border-style: dotted;
	border-color: f8f8ff;
	text-align: center;
	background: rgb(123, 121, 145);
}
	
a:link {
	color: #f8f8ff
}

/* visited link */
a:visited {
  color: #f8f8ff;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: #f8f8ff;
}

