body {
	width: 960px;
	background: #fff;
	margin: 0 auto 2em;
	font: 100% Georgia, "Times New Roman", Times, serif;
	padding: 20px;
}

h1 h2 h3 {
	font-size: 4em;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
	padding: 3em;
}

html {
	background: rgb(123, 121, 143);
}

p {
	font: Georgia;
	font-size: 2em;
}

section {
	padding-top: 1em;
}
