body {
	width: 960px;
	background: #fff;
	margin: 0 auto 2em;
	font: 100% Georgia, "Times New Roman", Times, serif;
	padding: 20px;
}

header h1 {
	font-size: 4em;
	font: Lucida Handwriting;
}

.headtwo {
	color: DarkViolet;
	font-size: 3em;
	text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
	padding: 3em;
}

html {
	background: rgb(123, 121, 145);
}

p {
	font: Georgia;
	font-size: 2em;
	display: flex;
}

section {
	padding-top: 1em;
	border-bottom-style: dotted;
}

ul {
	list-style-type: none;
	margin: 1em;
	padding: 1em;
	font: Georgia;
	font-size: 1em;
	border-style: dotted;
	)
